<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeekIT Dice Game</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-gray-100 font-sans">
    <nav class="bg-blue-600 text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-2xl font-bold">GeekIT Dice Game</a>
            <div>
                <a href="/" class="mr-4 hover:underline">Home</a>
                <a href="/leaderboard" class="hover:underline mr-2">Leaderboard</a>
                <button onclick="logout()" type="button" id="end-session-button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                    <i class="fa-solid fa-right-from-bracket mr-2"></i>
                    Se déconnecter
                </button>
            </div>
        </div>
    </nav>

    <main class="container mx-auto mt-8 p-4">
        <div class="text-center">
            <h1 class="text-4xl font-bold !text-gray-500 mb-8">Bienvenue au jeu de lancé de dés de GeekIT !</h1>
            <p class="text-xl mb-8">Testez votre chance et votre stratégie dans ce jeu de dés passionnant !</p>
            <button id="start-game" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded inline-block transition duration-300">
                Démmarer une partie
            </button>
        </div>
        <section class="grid min-h-screen p-4 place-items-center">
            <div class="container grid grid-cols-1 gap-8 my-auto lg:grid-cols-2">
                <div class="relative flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none grid gap-2 item sm:grid-cols-2">
                <div class="relative bg-clip-border rounded-xl overflow-hidden bg-white text-gray-700 shadow-lg m-0"><img src="https://media.istockphoto.com/id/1174418152/fr/photo/lancer-%C3%A0-la-main-et-lancer-des-d%C3%A9s-joueur-jetant-cinq-d%C3%A9s-rouges-de-poker-et-de-casino-sur-la.jpg?s=612x612&w=0&k=20&c=4WRgFqcaQXkYsPqoKGn5Ltvds5YB3BJiBvoDZsrnga0=" alt="Revolutionizing Our Production Process" class="object-cover w-full h-full" /></div>
                <div class="p-6 px-2 sm:pr-6 sm:pl-4">
                    <p class="block antialiased font-sans text-sm font-light leading-normal text-inherit mb-4 !font-semibold">Roll Dice</p><a href="#" class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2 normal-case transition-colors hover:text-gray-700">
                        Jeu de Lancé de Dés Classique
                    </a>
                    <p class="block antialiased font-sans text-base leading-relaxed text-inherit mb-8 font-normal !text-gray-500">
                        Plongez dans le monde du jeu de lancé de dés classique. Simple, amusant et addictif, ce jeu vous permet de défier vos amis et de tester votre chance. Cliquez pour jouer maintenant et devenez le maître des dés !
                    </p>
                    <div class="flex items-center gap-4"><img src="https://bucket.material-tailwind.com/magic-ai/6b1c5941d417a2a32baee89c2f3d1975d7d4fb81e486ed43dc1082ac54b0658b.jpg" class="inline-block relative object-cover object-center !rounded-full w-12 h-12 rounded-lg" />
                    <div>
                        <p class="block antialiased font-sans text-base font-light leading-relaxed text-blue-gray-900 mb-0.5 !font-semibold">Ingrid</p>
                        <p class="block antialiased font-sans text-sm leading-normal text-gray-700 font-normal">2024-07-01</p>
                    </div>
                    </div>
                </div>
                </div>
                <div class="relative flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none grid gap-2 item sm:grid-cols-2">
                <div class="relative bg-clip-border rounded-xl overflow-hidden bg-white text-gray-700 shadow-lg m-0"><img src="https://content.ribambel.com/wp-content/uploads/2018/01/29680-lancez-les-des-et-observez-le-resultat-v2_article_medium-1.jpg" alt="Expanding Our Service Network" class="object-cover w-full h-full" /></div>
                <div class="p-6 px-2 sm:pr-6 sm:pl-4">
                    <p class="block antialiased font-sans text-sm font-light leading-normal text-inherit mb-4 !font-semibold">Roll dice</p><a href="#" class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2 normal-case transition-colors hover:text-gray-700">Mode Multijoueur Excitant</a>
                    <p class="block antialiased font-sans text-base leading-relaxed text-inherit mb-8 font-normal !text-gray-500">
                        Rejoignez des milliers de joueurs en ligne avec notre mode multijoueur. Affrontez des adversaires du monde entier, accumulez des points et grimpez dans les classements. Cliquez ici pour commencer une partie en ligne !
                    </p>
                    <div class="flex items-center gap-4"><img src="https://bucket.material-tailwind.com/magic-ai/16d71aaeda38d7aea4412875984357949ff12e7f2c502bb20c4c1bcf6c661607.jpg" class="inline-block relative object-cover object-center !rounded-full w-12 h-12 rounded-lg" />
                    <div>
                        <p class="block antialiased font-sans text-base font-light leading-relaxed text-blue-gray-900 mb-0.5 !font-semibold">Soufiane</p>
                        <p class="block antialiased font-sans text-sm leading-normal text-gray-700 font-normal">2024-07-05</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </main>

    <!-- <footer class="bg-blue-600 text-white p-4 mt-8">
        <div class="container mx-auto text-center">
            &copy; 2024 GeekIT Dice Game. All rights reserved.
        </div>
    </footer> -->
    <script>
        async function startSession() {
            try {
                const url = 'http://localhost:4000/api/sessions';
                
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                });

                if (response.ok) {
                    const result = await response.json();
                    window.location.replace('/game');
                } else {
                    console.error('Error:', response.status, response.statusText);
                }
            } catch (error) {
                console.error('Network error:', error);
            }
        }
        const startGame = document.getElementById('start-game');
        startGame.addEventListener('click', async(e) => {
            e.preventDefault();
            await startSession();
        })

        async function logout() {
            try {
                const url = 'http://localhost:4000/api/logout';
                
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                });

                if (response.ok) {
                    window.location.replace('/login');
                } else {
                    console.error('Error:', response.status, response.statusText);
                }
            } catch (error) {
                console.error('Network error:', error);
            }
        }
    </script>
</body>
</html>